.messages-container
  display: block

  // A few additional pixels are subtracted for style.
  height: calc(100vh - #{$message-input-height} - #{$navbar-height} - 8px)
  overflow: scroll


message
  display: block
  position: relative

  .message-body
    padding: 10px
    padding-left: 20px

    max-width: 40em

    position: relative

    word-wrap: break-word


  .message-images
    a
      display: block

    img
      display: block
      max-width: 200px
      max-height: 200px
      margin: 5px
      border: 1px solid rgba(0, 0, 0, 0.2)

@media(max-width: 40em)
  message .message-body
    max-width: 100vw

.new-message
  display: block

  position: fixed
  bottom: 0
  left: 0

  width: 100%
  min-height: $message-input-height

  background: #fff
  box-shadow: 0 0 30px rgba(174, 174, 174, 0.3)

  .message-body-text
    display: block
    height: 100%
    width: 100%

    font-size: $message-input-font-size

    border: none
    border-top: 1px solid #ddd

    padding: 5px 10px

    &:focus
      outline: none
