@import "compass/utilities/general/clearfix"

.messages-container > thread
  overflow: hidden

thread
  display: block

  .thread-children
    width: 100%
    padding: 0

    +clearfix

    li
      list-style-type: none
      float: left
      position: relative
      padding-right: 20px

    li + li, li.first:not(.last)
      border-top: 2px solid gray
      margin-top: 10px
      padding-top: 10px

      &:before
        border-left: 2px solid gray
        content: ""
        position: absolute
        left: 20px
        top: 0
        height: 10px

    li.first:not(.last)
      &:before
        border-left: 2px solid gray
        content: ""
        position: absolute
        left: 40px
        top: -10px
        height: 20px

      &:after
        border-top: 2px solid white
        content: ""
        position: absolute
        width: 40px
        top: -2px

    li.last:not(.first)
      border-top-width: 0

      &:after
        border-top: 2px solid gray
        content: ""
        position: absolute
        width: 20px
        top: 0

  &.focused > .thread-body > message
    border-color: #bb0000
    background-color: #FFF4F4

  .parent-reference
    display: block

    padding: 10px 0

    text-align: center
    text-shadow: 0 1px #ccc
    color: #ccc


    transition: 250ms background-color

    &:hover
      background-color: #DFFFDF
      text-decoration: none
      color: #000

