@import "compass/utilities/general/clearfix"

.messages-container > thread
  overflow: hidden

thread
  display: block

  .thread-children
    width: 100%
    padding: 0

    +clearfix

    .message-body
      margin: 6px 0

      background-color: #fafafa
      border: 1px solid #ccc
      border-radius: 2px
    li
      list-style-type: none
      float: left
      position: relative
      padding-right: 20px

    li + li, li.first:not(.last)
      border-top: 2px solid gray
      margin-top: 10px
      padding-top: 10px

      &:before
        border-left: 2px solid gray
        content: ""
        position: absolute
        left: 20px
        top: 0
        height: 10px

    li.first:not(.last)
      &:before
        border-left: 2px solid gray
        content: ""
        position: absolute
        left: 40px
        top: -10px
        height: 20px

      &:after
        border-top: 2px solid white
        content: ""
        position: absolute
        width: 40px
        top: -2px

    li.last:not(.first)
      border-top-width: 0

      &:after
        border-top: 2px solid gray
        content: ""
        position: absolute
        width: 20px
        top: 0

  &.focused > .thread-body > message::before
    display: inline-block

    position: absolute
    top: 0
    z-index: 10

    margin-right: 10px
    line-height: 39px

    content: "⇒"
