<a href="/{{ message.$id }}" class="glyphicon glyphicon-share-alt message-reference"></a>

<figure class="message-avatar">
  <img src="{{ message.author.avatar }}">
</figure>

<div class="message-body">

  <span ng-bind-html="text"></span>

  <ul class="message-images" ng-if="images.length">
    <li ng-repeat="image in images">
      <a href="{{ image }}" target="_blank">
        <img ng-src="{{ image }}">
      </a>
    </li>
  </ul>

</div>

<footer class="message-details">
  <span class="created-at">
    {{ humanize(message.createdAt) }}
  </span>
</footer>
