<a href="/{{ message.$id }}" class="glyphicon glyphicon-share-alt message-reference"></a>

<div class="message-body">
  <span ng-bind-html="text"></span>

  <ul class="message-images" ng-if="images.length">
    <li ng-repeat="image in images">
      <a href="{{ image }}" target="_blank">
        <img ng-src="{{ image }}">
      </a>
    </li>
  </ul>

  <ul class="message-yt" ng-if="youtubeVideos.length">
    <li ng-repeat="video in youtubeVideos">
      <youtube-video video-url="video" player-vars="{autohide: 1, color: 'white', showinfo: false, theme: 'light'}"></youtube-video>
    </li>
  </ul>

</div>

<footer class="message-details">
  <figure class="message-avatar">
    <img ng-src="{{ message.author.avatar }}">
  </figure>

  <span class="message-author-name">
    {{ message.author.name || "you know who" }}
  </span>

  <span title="{{ formatDateString(message.createdAt) }}" class="deemphasized message-created-at">
    {{ humanize(message.createdAt) }}
  </span>
</footer>
